#helpBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: 'Alata', sans-serif;
  padding: 10px;
  border-radius: 10%;
  background-color: crimson;
  color: white;
}

#helpModal {
    display: none; /* Hidden until helpBtn click */
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.3); /* Slight opacity*/
}

.modalContent {
    color: white;
    background-color: crimson;
    margin: 15% auto;
    padding: 25px;
    border: 1px solid #000;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* Close button inside of help modal */ 
.close {
    color: #aaa;
    float: right;
    font-size: 30px;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    cursor: pointer;
  }