/* Song Information Div with image, title, artist, album */
#songInfoDiv {
    width: 30%; 
    float: left;
    font-family: 'Alata', sans-serif;
    text-align: center;
    line-height: 10px;
}

/* Album cover photo */
#songInfoDiv img {
    width: 70%;
}

#songInfoDiv h4 {
    font-style: italic;
    font-weight: normal;
}

#discDiv {
    width: 40%;
    float: left;
    text-align: center;
    position: relative;
}

/*Arm which is on the vinyl*/
#vinylArm {
    bottom: 0px;
    left: 40%;
    position: absolute;
}

/*Rotating disc*/
#discImg {
    margin: auto;
    width: 70%;
    z-index:-2;
}

#rightDiv {
    width: 30%;
    float: left;
    text-align: center;
    background-color: red;
}

/*Rotate information*/
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to { 
      transform: rotate(360deg);
    }
  }
