/* Song Information Div with image, title, artist, album */
#songInfoDiv {
    width: 30%; 
    float: left;
    background: lightcyan;
    font-family: 'Alata', sans-serif;
    text-align: center;
    line-height: 10px;
}

/* Album cover photo */
#songInfoDiv img {
    width: 70%;
}

#songInfoDiv h4 {
    font-style: italic;
    font-weight: normal;
}

#vinylDiv {
    width: 40%;
    float: left;
    background: green;
    text-align: center;
}

#discDiv {
    width: 30%;
    float: left;
    background: blue;
    text-align: center;
}

#vinylImg {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

#discImg {
    max-width: 100%;
    max-height: 100%;
    width: 30%;
    margin: auto;
    display: block;
}