#songInfoDiv {
    width: 30%; 
    float: left;
    background: lightcyan;
}

#vinylDiv {
    width: 40%;
    float: left;
    background: green;
    text-align: center;
}

#discDiv {
    width: 30%;
    float: left;
    background: blue;
    text-align: center;
}

#vinylImg {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

#discImg {
    max-width: 100%;
    max-height: 100%;
    width: 30%;
    margin: auto;
    display: block;
}