#musicTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5%;
}

#musicTable th, tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
    font-family: 'Alata', sans-serif;
    font-weight: normal; 
}

.playButton {
    color: red;
}

.playButton:hover, .playButton:focus {
    cursor: pointer;
    color: yellow;
}